.cart-item {
  display: flex;
  gap: 10px;
  /* justify-content: center; */
  align-items: center;
  /* outline: 2px solid rgb(0, 203, 0); */
}

.cart-item__menu {
  display: flex;
  gap: 3px;
  /* justify-content: center;
  align-items: center; */
}

.cart__button {
  position: relative;
  font-size: 24px;
}

.cart__content {
  position: absolute;
  /* top: calc(100%); */
  padding: 5px;
  z-index: 1;
  /* outline: 3px solid blue; */
  background-color: rgb(143, 255, 255);
}
