@import "../styles/variables.less";
@import "../styles/library.less";

.card_4 {
  // card with 4 items
  padding: 0px @indent-medium @indent-medium;
  display: grid;
  grid-template-rows: subgrid;
  grid-row: span 4;

  overflow: hidden;
  background-color: @light-theme-background;

  border: @border-grey;
  border-radius: @borderRadiusSmall;
  font-family: "Roboto Slab", sans-serif;

  .shadow-highlight;
}

.card__image-wrapper {
  min-height: 150px;
  max-height: 300px;
  margin-left: -@indent-medium;
  width: calc(100% + @indent-medium * 2);
  display: flex;
  align-items: center;
}

.card__image {
  width: 100%;
  // height: 100%;
}

.card__heading {
  margin: 0;
  // line-height: 1;
}

.link {
  text-decoration: inherit;
  color: inherit;
}

.card__description {
}

.card__text {
  margin: 0;
}

.addToCart {
  width: 100%;
  position: relative;
  align-self: center;
  color: @fontColorBlack;
  font-size: @fontSizeMedium;
}

.addToCart__quantity-controls {
  display: flex;
}

.addToCart__button {
  width: 100%;
  height: 100%;

  .button;
}

.addToCart__button:hover {
  background-color: @light-theme__button-background_hover;
}

.addToCart__button:active {
  background-color: @light-theme__button-background_active;
}

.addToCart__counter {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding: 10px 15px; */
}

.addToCart__value-button {
  /* aspect-ratio: 1; */
  width: 40px;
  height: 40px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.addToCart__button_add {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
}
