.ribbon {
  height: 128px;
  position: relative;
  overflow: hidden;
  background-color: #fff;
}

.scroll {
  height: 100%;
  position: absolute;
  display: flex;
  gap: 64px;
  animation: scrolling 15s linear infinite;
}

.group {
  height: 100%;
  display: flex;
  gap: 64px;
  justify-content: space-around;
  align-items: center;
  will-change: transform;
}

@keyframes scrolling {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-50% - 32px));
  }
}

.ribbon__item {
  height: calc(100% - 30px);
  // padding-top: 20px;
  // padding-bottom: 20px;
  // aspect-ratio: 1/1;
}

.image {
  height: 100%;
  box-sizing: border-box;
}
