.main-nav {
  margin-left: auto;
  padding: 3px;
  position: relative;
  background-color: aqua;
}

.main-nav:hover > .sub-nav {
  display: block;
}

.sub-nav {
  display: none;
  /* height: 200px; */
  position: absolute;
  top: 100%;
  right: 0;
  outline: 1px solid red;
}
