// indents
@indent-standard: 8px;

// sharows
// @shadow-standard: 

// colors
@item-background: #d9d9d9;
@button-color: #5665f1;
@button-highlighted-color: #4755D5;
@button-active-color: #333C93;
@text-light-color: white; 