// indents
@indent-standard: 8px;
@indent-medium: 16px;

// shadows
@shadow2: 0 0 2px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.14);

// borders
@borderRadiusSmall: 4px;
@border-grey: 1px solid #d2d2d2;

// text
@fontSizeMedium: 18px;
@fontSubtle: 14px;

@fontWeightBold: 600px;

// colors
@item-background: #d9d9d9;
@button-color: #5665f1;
@button-highlighted-color: #4755d5;
@button-active-color: #333c93;
@text-light-color: white;
@text-grey-color: #808997;
@fontColorBlack: #2a2524;
