.main-page {
  background-color: #f2f3f7;
}

.grid {
  display: grid;
  gap: 16px;
  grid-template-columns: repeat(auto-fit, minmax(256px, 1fr));
  /* grid-template-columns: repeat(4, 1fr); */
  grid-template-rows: repeat(auto);
}

.header {
  display: flex;
}
